# Файлы с секретами
.env

# Виртуальные окружения
venv/
parser_env/

# База данных (опционально, если хотите начать на сервере с чистого листа)
# zakupki.db

# Папка с загруженными файлами
uploads/

# Файлы системы и редакторов
.DS_Store
.vscode/
.idea/
__pycache__/
*.pyc